html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*  ---------------Responsive Images-----------------  */
  
  img{
    max-width:100%;
    height:auto;
  }
  
  /*  ---------------Utility Classes-----------------  */
  
  .container{
    max-width:80vw;
    margin:40px auto;
  }
  
  /*  --------------- Global Styles -----------------  */
  
  body{
  font-family: 'Gabarito', sans-serif;
  margin:0;  
  }
  
  header.primary{
  background-color:	#800000;
  color:#ffffff;
  text-shadow: 1px 1px #000000;  
  text-align:center;
  padding:40px;
  /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px; 
  /* T,R,B,L */
  padding: 20px 40px 20px 40px;  
  /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;  
  }
  
  header.primary h1 {
    font-size:2.4rem;
    margin:20px 0 0;
  }
  
  header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
  }
  
  header.primary h2{
    font-size:1.4rem;
    margin:0;
  }
  
  header.primary nav{
   
   max-width:900px;
   margin:20px auto; 
  }
  
  header.primary nav ul{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:0;
  }
  
  header.primary nav ul li{
    list-style-type:none;
  }
  
  header.primary nav ul li a {
    color:#ffffff;
    text-decoration:none;
    background-color:#000000;
    background-color:rgba(0,0,0,.4);
    padding:5px 10px;
    border:1px solid #696969;
    border-radius:20px;
    transition:.4s;
  }
  
  header.primary nav ul li a:hover{
    background-color:rgba(0,0,0,.8);
  }
  
  #intro{
    border-bottom:1px dotted #c0c0c0;
    padding-bottom:14px;
  }
  
  #intro h2{
    color: #3b638b;
    border-bottom:1px dotted #c0c0c0;
  }
  
  #content{
    display:flex;
    flex-direction:row;
    gap:20px;
  }
  
  #content .post{
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    padding:10px;
    border-radius:4px;
    font-size:.8rem;
    transition: 0.5s;
  }
  
  #content article.post:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  }
  
  article.post figure{
    margin:0;
  }
  
  article.post time.post-date, article.post figcaption,
  article.post .post-meta
  {
    text-transform:uppercase;
    color:#c0c0c0;
  }
  
  article.post a{
    color: #3b638b;
  }
  
  article.post a:hover{
    text-decoration:none;
  }
  article.post img{
    border:1px solid #c0c0c0;
    padding:2px;
    margin:10px auto;
  }
  
  aside[role="complementary"]{
    background-color: #cd5c5c;
    color: #ffffff;
    padding: 1.9rem;
  }
  
  aside .container{
    display:flex;
    flex-direction:row;
    gap:40px;
  }
  
  aside .container a::last-of-type{
color:#c0c0c0;
display: block;
text-align: center;
font-size: 8rem;
margin-top: 10px;
  }

  #colophon{
    background-color:#800000
    padding:10px;
  }
  


    
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*  --------------- Media Queries -----------------  */
  
  @media screen and (max-width:600px){
    header.primary nav ul{
      flex-direction:column;
      max-width:250px;
      margin:auto;
      gap:10px;
    }
    header.primary nav ul a{
      display:block;
    }
  }
  
  