/* ------ Style for css-demo ----- */

/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  ---------------Responsive Images-----------------  */

img {
  max-width: 100%;
  height: auto;
}

/*  ---------------Utility Classes-----------------  */

.container {
  max-width: 80vw;
  margin: 40px auto;
}

.img-right {
  float: right;
  margin: 10px 0 10px 20px;
  border: 5px double #c0c0c0;
  padding: 5px;
  box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.4);
}

.img-left {
  float: left;
  margin: 10px 20px 10px 0;
  border: 5px double #c0c0c0;
  padding: 5px;
  box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.4);
}

.img-center {
  display: block;
  margin: 20px auto;
  border: 5px double #c0c0c0;
  padding: 5px;
  box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.4);
}
table {

  margin-left: auto; margin-right: auto;
  border: 1pt solid black;
  border-collapse: collapse;
  
  }
  
  
  
  tr {
  
  border-bottom: 1pt solid black;
  }

  header.primary h2 {
    font-family: "Goldman", cursive;
    font-size: 2em;
    /* Shorhand Three Value Top, Left/Right, Bottom*/
    margin: 20px auto 40px;
    position: relative;
  }
  
  header.primary nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    max-width: 900px;
    margin: 20px auto;
  }
  
  header.primary nav li {
    list-style-type: none;
    padding: 0;
    width: 20%;
  }
  
  header.primary nav a:link,
  header.primary nav a:visited {
    color: white;
    text-decoration: none;
    background-color: #000000;
    background-color: rgba(142, 166, 184, 0.4);
    padding: 8px 16px;
    border-radius: 10px;
    transition: 0.6s;
    display: block;
  }
  
  header.primary nav a:hover,
  header.primary nav a:active {
    background-color: rgba(51, 83, 107, 0.8);
  }
  


  /*  --------------- Media Queries -----------------  */

@media screen and (max-width: 600px) {
  header.primary nav ul {
    flex-direction: column;
    max-width: 250px;
    margin: auto;
    gap: 10px;
  }
  header.primary nav ul a {
    display: block;
  }
  #content,
  aside .container {
    flex-direction: column;
  }

  #content img {
    display: block;
    margin: auto;
  }
body {
  /* CSS properties here */
}
  padding: 5px;
  box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.4);
}

.img-left {
  float: left;
  margin: 10px 20px 10px 0;
  border: 5px double #c0c0c0;
  padding: 5px;
  box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.4);
}

.img-center {
  display: block;
  margin: 20px auto;
  border: 5px double #c0c0c0;
  padding: 5px;
  box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.4);
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1pt solid black;
  border-collapse: collapse;
}

tr {
  border-bottom: 1pt solid black;
}

header.primary h2 {
  font-family: "Goldman", cursive;
  font-size: 2em;
  /* Shorhand Three Value Top, Left/Right, Bottom*/
  margin: 20px auto 40px;
  position: relative;
}

header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: 20px auto;
}

header.primary nav li {
  list-style-type: none;
  padding: 0;
  width: 20%;
}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(142, 166, 184, 0.4);
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.6s;
  display: block;
}

header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(51, 83, 107, 0.8);
}

/*  --------------- Media Queries -----------------  */

@media screen and (max-width: 600px) {
  header.primary nav ul {
    flex-direction: column;
    max-width: 250px;
    margin: auto;
    gap: 10px;
  }
  header.primary nav ul a {
    display: block;
  }
  #content,
  aside .container {
    flex-direction: column;
  }

  #content img {
    display: block;
    margin: auto;
  }
}
